USE [master]
GO
/****** Object:  Database [P01-SAD]    Script Date: 09/01/2025 01:09:56 ******/
CREATE DATABASE [P01-SAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P01-SAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P01-SAD]
GO
/****** Object:  Table [dbo].[avaliacao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avaliacao](
	[avaliacao_id] [int] NOT NULL,
	[oficina_id] [int] NOT NULL,
	[matricula] [char](8) NOT NULL,
	[nota] [int] NULL,
 CONSTRAINT [PK_avaliacao] PRIMARY KEY CLUSTERED 
(
	[avaliacao_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[nif] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[cp] [int] NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[codigopostal]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[codigopostal](
	[cp] [int] NOT NULL,
	[localidade] [varchar](100) NULL,
 CONSTRAINT [PK_codigopostal] PRIMARY KEY CLUSTERED 
(
	[cp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacto]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacto](
	[numero_c] [varchar](50) NULL,
	[tipo_contacto_id] [int] NOT NULL,
	[nif] [int] NOT NULL,
	[oficina_id] [int] NULL,
 CONSTRAINT [PK_contacto] PRIMARY KEY CLUSTERED 
(
	[tipo_contacto_id] ASC,
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_revisao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_revisao](
	[historico_r_id] [int] NOT NULL,
	[data] [int] NULL,
 CONSTRAINT [PK_historico_revisao] PRIMARY KEY CLUSTERED 
(
	[historico_r_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interesse]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interesse](
	[interesse_id] [int] NOT NULL,
	[nif] [int] NULL,
	[modelo_id] [int] NULL,
	[proposta] [money] NULL,
 CONSTRAINT [PK_interesse] PRIMARY KEY CLUSTERED 
(
	[interesse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manutencao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manutencao](
	[historico_m_id] [int] NOT NULL,
	[data] [datetime] NULL,
	[valor] [decimal](10, 2) NULL,
	[tipo_manu_id] [int] NOT NULL,
	[oficina_id] [int] NULL,
 CONSTRAINT [PK_manutencao] PRIMARY KEY CLUSTERED 
(
	[historico_m_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[marca_id] [int] IDENTITY(1,1) NOT NULL,
	[nome_marca] [varchar](50) NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[marca_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelo]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelo](
	[modelo_id] [int] NOT NULL,
	[ano] [int] NULL,
	[marca_id] [int] NULL,
 CONSTRAINT [PK_modelo] PRIMARY KEY CLUSTERED 
(
	[modelo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oficina]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oficina](
	[oficina_id] [int] NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cp] [int] NULL,
 CONSTRAINT [PK_oficina] PRIMARY KEY CLUSTERED 
(
	[oficina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[matricula] [char](8) NOT NULL,
	[quilometragem] [int] NULL,
	[manu_id] [int] NULL,
	[transacao_id] [int] NULL,
	[historico_r_id] [int] NULL,
	[modelo_id] [int] NULL,
	[preco_venda] [decimal](10, 2) NULL,
	[nif] [int] NULL,
 CONSTRAINT [PK_stock_1] PRIMARY KEY CLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_contacto]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_contacto](
	[tipo_contacto_id] [int] IDENTITY(1,1) NOT NULL,
	[desc_contacto] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_contacto] PRIMARY KEY CLUSTERED 
(
	[tipo_contacto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_manutencao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_manutencao](
	[tipo_manu_id] [int] IDENTITY(1,1) NOT NULL,
	[desc_manu] [varchar](100) NULL,
 CONSTRAINT [PK_tipo_manutencao] PRIMARY KEY CLUSTERED 
(
	[tipo_manu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_transacao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_transacao](
	[tipo_transacao_id] [int] IDENTITY(1,1) NOT NULL,
	[desc_transacao] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_transacao] PRIMARY KEY CLUSTERED 
(
	[tipo_transacao_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacao]    Script Date: 09/01/2025 01:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacao](
	[transacao_id] [int] NOT NULL,
	[data] [datetime] NULL,
	[preco_compra] [decimal](10, 2) NULL,
	[historico_compras] [int] NOT NULL,
	[tipo_transacao_id] [int] NOT NULL,
 CONSTRAINT [PK_transacao] PRIMARY KEY CLUSTERED 
(
	[transacao_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[avaliacao] ([avaliacao_id], [oficina_id], [matricula], [nota]) VALUES (2, 10, N'12CC34  ', 4)
INSERT [dbo].[avaliacao] ([avaliacao_id], [oficina_id], [matricula], [nota]) VALUES (3, 12, N'DD1234  ', 4)
INSERT [dbo].[avaliacao] ([avaliacao_id], [oficina_id], [matricula], [nota]) VALUES (4, 13, N'5678EE  ', 3)
GO
INSERT [dbo].[cliente] ([nif], [nome], [cp]) VALUES (123789456, N'Paula Cruz', 6000086)
INSERT [dbo].[cliente] ([nif], [nome], [cp]) VALUES (147258369, N'André Antunes', 8000072)
INSERT [dbo].[cliente] ([nif], [nome], [cp]) VALUES (159753456, N'Ana Ferreira', 4000008)
GO
INSERT [dbo].[codigopostal] ([cp], [localidade]) VALUES (1000001, N'Lisboa')
INSERT [dbo].[codigopostal] ([cp], [localidade]) VALUES (2000108, N'Santarém')
INSERT [dbo].[codigopostal] ([cp], [localidade]) VALUES (2300512, N'Tomar')
GO
INSERT [dbo].[contacto] ([numero_c], [tipo_contacto_id], [nif], [oficina_id]) VALUES (N'910987654', 1, 159753456, NULL)
INSERT [dbo].[contacto] ([numero_c], [tipo_contacto_id], [nif], [oficina_id]) VALUES (N'934567890', 1, 321654987, NULL)
INSERT [dbo].[contacto] ([numero_c], [tipo_contacto_id], [nif], [oficina_id]) VALUES (N'926789123', 1, 456123789, NULL)
GO
INSERT [dbo].[historico_revisao] ([historico_r_id], [data]) VALUES (1, 20240101)
INSERT [dbo].[historico_revisao] ([historico_r_id], [data]) VALUES (2, 20240201)
INSERT [dbo].[historico_revisao] ([historico_r_id], [data]) VALUES (3, 20240301)
GO
INSERT [dbo].[interesse] ([interesse_id], [nif], [modelo_id], [proposta]) VALUES (3, 456123789, 1, NULL)
INSERT [dbo].[interesse] ([interesse_id], [nif], [modelo_id], [proposta]) VALUES (4, 951357852, 3, 15000.0000)
INSERT [dbo].[interesse] ([interesse_id], [nif], [modelo_id], [proposta]) VALUES (5, 852741963, 2, 12000.0000)
GO
INSERT [dbo].[manutencao] ([historico_m_id], [data], [valor], [tipo_manu_id], [oficina_id]) VALUES (1, CAST(N'2024-01-15T00:00:00.000' AS DateTime), CAST(200.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[manutencao] ([historico_m_id], [data], [valor], [tipo_manu_id], [oficina_id]) VALUES (2, CAST(N'2024-02-20T00:00:00.000' AS DateTime), CAST(500.00 AS Decimal(10, 2)), 2, NULL)
INSERT [dbo].[manutencao] ([historico_m_id], [data], [valor], [tipo_manu_id], [oficina_id]) VALUES (3, CAST(N'2024-03-15T00:00:00.000' AS DateTime), CAST(300.00 AS Decimal(10, 2)), 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[marca] ON 

INSERT [dbo].[marca] ([marca_id], [nome_marca]) VALUES (1, N'Toyota')
INSERT [dbo].[marca] ([marca_id], [nome_marca]) VALUES (2, N'BMW')
INSERT [dbo].[marca] ([marca_id], [nome_marca]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[marca] OFF
GO
INSERT [dbo].[modelo] ([modelo_id], [ano], [marca_id]) VALUES (1, 2021, 1)
INSERT [dbo].[modelo] ([modelo_id], [ano], [marca_id]) VALUES (2, 2020, 2)
INSERT [dbo].[modelo] ([modelo_id], [ano], [marca_id]) VALUES (3, 2019, 3)
GO
INSERT [dbo].[oficina] ([oficina_id], [nome], [cp]) VALUES (10, N'Oficina do Zé', 1000001)
INSERT [dbo].[oficina] ([oficina_id], [nome], [cp]) VALUES (11, N'Mão na Roda', 2000108)
INSERT [dbo].[oficina] ([oficina_id], [nome], [cp]) VALUES (12, N'Relâmpago Marquinhos', 2700336)
GO
INSERT [dbo].[stock] ([matricula], [quilometragem], [manu_id], [transacao_id], [historico_r_id], [modelo_id], [preco_venda], [nif]) VALUES (N'1234KK  ', 80000, 8, 8, 8, 8, CAST(10000.00 AS Decimal(10, 2)), 951654852)
INSERT [dbo].[stock] ([matricula], [quilometragem], [manu_id], [transacao_id], [historico_r_id], [modelo_id], [preco_venda], [nif]) VALUES (N'12CC34  ', 30000, 2, 2, 2, 2, CAST(30000.00 AS Decimal(10, 2)), 987654321)
INSERT [dbo].[stock] ([matricula], [quilometragem], [manu_id], [transacao_id], [historico_r_id], [modelo_id], [preco_venda], [nif]) VALUES (N'34HH56  ', 35000, 6, 6, 6, 6, CAST(27000.00 AS Decimal(10, 2)), 753951456)
GO
SET IDENTITY_INSERT [dbo].[tipo_contacto] ON 

INSERT [dbo].[tipo_contacto] ([tipo_contacto_id], [desc_contacto]) VALUES (1, N'Telemóvel')
INSERT [dbo].[tipo_contacto] ([tipo_contacto_id], [desc_contacto]) VALUES (2, N'Email')
INSERT [dbo].[tipo_contacto] ([tipo_contacto_id], [desc_contacto]) VALUES (3, N'Fax')
SET IDENTITY_INSERT [dbo].[tipo_contacto] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_manutencao] ON 

INSERT [dbo].[tipo_manutencao] ([tipo_manu_id], [desc_manu]) VALUES (1, N'Troca de óleo')
INSERT [dbo].[tipo_manutencao] ([tipo_manu_id], [desc_manu]) VALUES (2, N'Revisão geral')
INSERT [dbo].[tipo_manutencao] ([tipo_manu_id], [desc_manu]) VALUES (3, N'Substituição de peças')
SET IDENTITY_INSERT [dbo].[tipo_manutencao] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_transacao] ON 

INSERT [dbo].[tipo_transacao] ([tipo_transacao_id], [desc_transacao]) VALUES (1, N'Crédito')
INSERT [dbo].[tipo_transacao] ([tipo_transacao_id], [desc_transacao]) VALUES (2, N'Dinheiro')
INSERT [dbo].[tipo_transacao] ([tipo_transacao_id], [desc_transacao]) VALUES (3, N'Débito')
SET IDENTITY_INSERT [dbo].[tipo_transacao] OFF
GO
INSERT [dbo].[transacao] ([transacao_id], [data], [preco_compra], [historico_compras], [tipo_transacao_id]) VALUES (1, CAST(N'2024-03-01T00:00:00.000' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[transacao] ([transacao_id], [data], [preco_compra], [historico_compras], [tipo_transacao_id]) VALUES (2, CAST(N'2024-03-10T00:00:00.000' AS DateTime), CAST(25000.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[transacao] ([transacao_id], [data], [preco_compra], [historico_compras], [tipo_transacao_id]) VALUES (3, CAST(N'2024-04-15T00:00:00.000' AS DateTime), CAST(30000.00 AS Decimal(10, 2)), 3, 2)
GO
ALTER TABLE [dbo].[avaliacao]  WITH CHECK ADD  CONSTRAINT [FK_avaliacao_oficina] FOREIGN KEY([oficina_id])
REFERENCES [dbo].[oficina] ([oficina_id])
GO
ALTER TABLE [dbo].[avaliacao] CHECK CONSTRAINT [FK_avaliacao_oficina]
GO
ALTER TABLE [dbo].[avaliacao]  WITH CHECK ADD  CONSTRAINT [FK_avaliacao_stock] FOREIGN KEY([matricula])
REFERENCES [dbo].[stock] ([matricula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[avaliacao] CHECK CONSTRAINT [FK_avaliacao_stock]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_codigopostal] FOREIGN KEY([cp])
REFERENCES [dbo].[codigopostal] ([cp])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_codigopostal]
GO
ALTER TABLE [dbo].[contacto]  WITH CHECK ADD  CONSTRAINT [FK_contacto_oficina] FOREIGN KEY([oficina_id])
REFERENCES [dbo].[oficina] ([oficina_id])
GO
ALTER TABLE [dbo].[contacto] CHECK CONSTRAINT [FK_contacto_oficina]
GO
ALTER TABLE [dbo].[contacto]  WITH CHECK ADD  CONSTRAINT [FKcontacto354372] FOREIGN KEY([nif])
REFERENCES [dbo].[cliente] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[contacto] CHECK CONSTRAINT [FKcontacto354372]
GO
ALTER TABLE [dbo].[contacto]  WITH CHECK ADD  CONSTRAINT [FKcontacto891821] FOREIGN KEY([tipo_contacto_id])
REFERENCES [dbo].[tipo_contacto] ([tipo_contacto_id])
GO
ALTER TABLE [dbo].[contacto] CHECK CONSTRAINT [FKcontacto891821]
GO
ALTER TABLE [dbo].[interesse]  WITH CHECK ADD  CONSTRAINT [FK_interesse_cliente] FOREIGN KEY([nif])
REFERENCES [dbo].[cliente] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[interesse] CHECK CONSTRAINT [FK_interesse_cliente]
GO
ALTER TABLE [dbo].[interesse]  WITH CHECK ADD  CONSTRAINT [FK_interesse_modelo] FOREIGN KEY([modelo_id])
REFERENCES [dbo].[modelo] ([modelo_id])
GO
ALTER TABLE [dbo].[interesse] CHECK CONSTRAINT [FK_interesse_modelo]
GO
ALTER TABLE [dbo].[manutencao]  WITH CHECK ADD  CONSTRAINT [FK_historico_manu_tipo_manutencao] FOREIGN KEY([tipo_manu_id])
REFERENCES [dbo].[tipo_manutencao] ([tipo_manu_id])
GO
ALTER TABLE [dbo].[manutencao] CHECK CONSTRAINT [FK_historico_manu_tipo_manutencao]
GO
ALTER TABLE [dbo].[manutencao]  WITH CHECK ADD  CONSTRAINT [FK_manutencao_oficina] FOREIGN KEY([oficina_id])
REFERENCES [dbo].[oficina] ([oficina_id])
GO
ALTER TABLE [dbo].[manutencao] CHECK CONSTRAINT [FK_manutencao_oficina]
GO
ALTER TABLE [dbo].[modelo]  WITH CHECK ADD  CONSTRAINT [FK_modelo_marca] FOREIGN KEY([marca_id])
REFERENCES [dbo].[marca] ([marca_id])
GO
ALTER TABLE [dbo].[modelo] CHECK CONSTRAINT [FK_modelo_marca]
GO
ALTER TABLE [dbo].[oficina]  WITH CHECK ADD  CONSTRAINT [FK_oficina_codigopostal] FOREIGN KEY([cp])
REFERENCES [dbo].[codigopostal] ([cp])
GO
ALTER TABLE [dbo].[oficina] CHECK CONSTRAINT [FK_oficina_codigopostal]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_cliente] FOREIGN KEY([nif])
REFERENCES [dbo].[cliente] ([nif])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [FK_stock_cliente]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_historico_manu] FOREIGN KEY([manu_id])
REFERENCES [dbo].[manutencao] ([historico_m_id])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [FK_stock_historico_manu]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_historico_revisao] FOREIGN KEY([historico_r_id])
REFERENCES [dbo].[historico_revisao] ([historico_r_id])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [FK_stock_historico_revisao]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_modelo] FOREIGN KEY([modelo_id])
REFERENCES [dbo].[modelo] ([modelo_id])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [FK_stock_modelo]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_transacao1] FOREIGN KEY([transacao_id])
REFERENCES [dbo].[transacao] ([transacao_id])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [FK_stock_transacao1]
GO
ALTER TABLE [dbo].[transacao]  WITH CHECK ADD  CONSTRAINT [FKtransacao369771] FOREIGN KEY([tipo_transacao_id])
REFERENCES [dbo].[tipo_transacao] ([tipo_transacao_id])
GO
ALTER TABLE [dbo].[transacao] CHECK CONSTRAINT [FKtransacao369771]
GO
USE [master]
GO
